<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/users/signup}" th:object="${userForm}" method="post">
        <div>
            <label th:for="email">email</label>
            <input type="text" th:field="*{email}" placeholder="이메일을 입력하세요">
        </div>
        <div>
            <label th:for="password">password</label>
            <input type="text" th:field="*{password}" placeholder="비밀번호를 입력하세요">
        </div>
        <div>
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" placeholder="이름을 입력하세요">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>